.input {
    position:relative;
    margin: 0 auto;
    margin-bottom:38px;
    text-align: center;
    width: 80%;
}

.label{
    position:absolute;
    top:-4px;
	left:0px;
    font-size:16px;
    will-change: transform;
    transition: all 0.3s steps(120);
}

.span {
    font-size: 14px;
    color:#d32b3f;
    content: ' ';
    visibility: hidden;
    text-align: left;
}

/* Validating */
.valid {
    color: #504038;
    border:0;
    background:transparent;
    width:100%;
    padding:22px 0 5px 0;
    font-size:19px;
    border-bottom:1px solid #504038;  
}

.valid ~ label{
    color:#504038;
    font-weight: 500;	
}

/*  */

.invalid {
    border:0;
    background:transparent;
    width:100%;
    padding:22px 0 5px 0;
    font-size:19px;
    border-bottom:1px solid #d32b3f;  
}

.invalid ~ label{
    color:#d32b3f;
}

.invalid ~ .span{
    visibility: visible;
}

/* Animations */


.input input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid #504038;	
}

.input input:placeholder-shown ~ .label {
      top: 20px;
}

.input input:focus ~ .label {
	top:-8px;
    font-size:14px;	
}

.input input:focus ~ .span {
    visibility: hidden;
}