.button{
    background-color: #234465;
    color: white;
    padding:10px 20px;
	text-transform:uppercase;
    display: block;
    margin: 0 auto;
    border:none;
	margin-top:50px;
    border: 2px solid #234465;
    border-radius:4px;
    margin-bottom: 2%;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

/* .button {
    color:#fff;
	background-color:#234465;
    border: 2px solid #234465;
    padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:3px;
    cursor:pointer;
    
} */


button:hover{
    background-color: transparent;
    border: 2px solid #234465;
    color: #234465;
    font-weight: bold;
}