/* Basic Button Theme */
.button_basic{
    display: block;
    color:#f9f7f6;
    background-color: #504038;
    border: 1px solid #504038;
    border-radius:4px;
    margin: 1em auto;
    padding:10px 40px;
    cursor: pointer;
	text-transform:uppercase;
    transition: all 0.2s ease-in;
}

.button_basic:hover{
    color:#f9f7f6;
    background-color: #7a6256;
    border: 1px solid #7a6256;
}

.button_basic:disabled {
    color:#f9f7f6;
    background-color: #7a6256;
    border: 1px solid #7a6256;
}

/* Stroked Button Theme */
.button_stroked{
    display: block;
    color:#504038;
    background-color: #f9f7f6;
    border: 1px solid #504038;
    border-radius:4px;
    margin: 1em auto;
    padding:10px 40px;
    cursor: pointer;
	text-transform:uppercase;
    transition: all 0.2s ease-in;
}

.button_stroked:hover{
    background-color: #fcf2ee;
}

.button_stroked:disabled {
    background-color: #fcf2ee;
}

 /* loading dots */
 .loader {
    display: inline-block;
    visibility: hidden;
 }
  
 .button_basic:disabled .loader {
    visibility: visible;
    color:#f9f7f6;
    animation: dots 1.5s steps(9, end) infinite;}
  
  @keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
          .25em 0 0 rgba(0,0,0,0),
          .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: #f9f7f6;
        text-shadow:
          .25em 0 0 rgba(0,0,0,0),
          .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
          .25em 0 0 #f9f7f6,
          .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
          .25em 0 0 #f9f7f6,
          .5em 0 0 #f9f7f6;}
}

.button_stroked:disabled .loader {
    visibility: visible;
    color:#f9f7f6;
    animation: dots_2 1.5s steps(9, end) infinite;}
  
  @keyframes dots_2 {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
          .25em 0 0 rgba(0,0,0,0),
          .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: #504038;
        text-shadow:
          .25em 0 0 rgba(0,0,0,0),
          .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
          .25em 0 0 #504038,
          .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
          .25em 0 0 #504038,
          .5em 0 0 #504038;}
}



.button_dark{
    display: block;
    color:#f9f7f6;
    background-color: #504038;
    border: 1px solid #504038;
    border-radius:4px;
    margin: 1em auto;
    padding:10px 40px;
    cursor: pointer;
	text-transform:uppercase;
    transition: all 0.2s ease-in;
}

.button_dark:hover{
    color:#f9f7f6;
    background-color: #7a6256;
    border: 1px solid #7a6256;
}